body {
  background-color: #fff;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  min-height: 97vh;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
input[type=text] {
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 43%;
  line-height: 24px;
  padding: 10px 10px 10px 10px;
  color: #000;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
input[type=text]:hover,
input[type=text]:focus {
  outline: none;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
}
div#buttons {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 14px 5px 14px;
  margin-top: 20px;
  margin-right: 8px;
  align-self: center;
  font-size: 1em;
  height: 36px;
  line-height: 27px;
  background-color: #f2f2f2;
  color: #757575;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  text-align: center;
}
input[type=submit]:hover,
input[type=submit]:focus {
  color: #000;
  border: 1px solid rgba(117, 117, 117, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
p {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}
p a {
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
#footer {
  display: inline-flex;
  background-color: rgba(170, 170, 170, 0.2);
  font-family: Arial, sans-serif;
  justify-content: space-between;
  line-height: 40px;
  border-top: 1px solid rgba(34, 34, 34, 0.1);
  margin-top: auto;
}
#footer a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.8);
}
#footer a:hover {
  text-decoration: underline;
}
#right {
  margin-left: auto;
}
#header {
  display: inline-flex;
  justify-content: flex-end;
  font-family: Arial, sans-serif;
}
#header a {
  color: #222;
  margin-right: 5px;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
